build/
deps/
output/
.zap/

# Tests
tests/**/*
!tests/**/
!tests/**/*.c
!tests/**/*.cpp
!tests/**/*.h

# Example binaries (ignore all, keep .c)
examples/*
!examples/*.c

# clangd
compile_flags.txt

# Markdown (except README)
*.md
!README.md

# Claude
.claude/
