add_mat
sub_mat
transpose_mat
reshape_mat
mat_log
eye_mat
ones_mat
zeros_mat
diag_mat
vec_mat
from_mat
at_mat
size_mat
get_diag_mat
t_mat
add_inplace_mat
sub_inplace_mat
rreshape_mat
add_diag_mat
add_vec_mat
equals_mat
